@page
@model APIRequestModel
@{
    ViewData["Title"] = "Source : Call Login API";
    ViewData["ActivePage"] = ManageNavPages.APIRequestData;
}

<head>
    <link rel="stylesheet/scss" href="https://css-wc.site24x7static.com/site24x7/client/6167249/scss/_tools-common.scss">
    <style>
        .field-group {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-right: 10px;
            flex: 1 1 0px;
        }

        #urlbox {
            width: 500px !important;
        }

        .fill-btn {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
            background: #182737 !important;
            transition: all 0.3s ease;
            color: #fff;
            border: 1px solid transparent;
            display: inline-block;
        }
    </style>
</head>

<div class="row">

    <form name="restapiform" id="form" method="post" onsubmit="hideTestResponse()">

        <div class="multi-fields">
            <div class="form-group sm-field select-field mr-2">
                <label for="processType">Process Type</label>
                <select name="processType" asp-for="Input.ProcessType" id="processType" class="form-control" onchange="onChangeProcessType();">
                    <option value="1">API To API</option>
                    <option value="2">API To File</option>
                    <option value="3">File To API</option>
                </select>
            </div>
            <div class="form-group">
                <label for="urlbox">Add Process Name Setting</label>
                <input class="form-control" asp-for="Input.ProcessName" id="processName" name="url" type="text" placeholder="Process Name" required="" autocorrect="off" autocapitalize="none">
            </div>
            <div class="form-group sm-field select-field mr-2">
                <label for="syncTimer">Sync Timer</label>
                <select name="syncTimer" asp-for="Input.SyncTimer" id="syncTimer" class="form-control" onchange="onChangeSyncTimer();">
                    <option value="1">5 Minutes</option>
                    <option value="2">10 Minutes</option>
                    <option value="3">15 Minutes</option>
                    <option value="4">30 Minutes</option>
                    <option value="5">1 Hour</option>
                    <option value="6">Daily</option>
                </select>
            </div>
        </div>
        
        <h4>@ViewData["Title"]</h4>
        <hr />

        <div class="multi-fields">
            <div class="field-group">
                <div class="form-group sm-field select-field mr-2">
                    <label for="method">Method</label>
                    <select name="method" asp-for="Input.MethodName" id="method" class="form-control" onchange="onmethod();">
                        <option value="Get">GET</option>
                        <option value="Post">POST</option>
                        <option value="Put">PUT</option>
                        <option value="Patch">PATCH</option>
                        <option value="Delete">DELETE</option>
                        <option value="Head">HEAD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="urlbox">Rest API Endpoint</label>
                    <input class="form-control" asp-for="Input.RequestUrl" id="urlbox" name="url" type="text" placeholder="Enter your Rest API/URL" required="" autocorrect="off" autocapitalize="none">
                </div>
                <div class="form-group">
                    <button id="testBtn" type="submit" class=" fill-btn " style="margin: 0 0 0 18px;">Test</button>
                </div>
            </div>

            <div class="field-group w-100" id="postDiv" style="display: block;">
                <div class="form-group">
                    <label>Post Data</label>
                    <!-- Type Selection -->
                    <div class="d-flex justify-content-between justify-content-sm-start align-items-center flex-wrap">
                        <div id="bodyTypes" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light btn-sm"> <input type="radio" name="bodytype" id="form1" value="F">form-data</label>
                            <label class="btn btn-light btn-sm ml-0 border-left active"> <input type="radio" name="bodytype" id="raw" value="R" checked="">raw</label>
                        </div>
                        <div id="rawContentTypes" class="ml-3">
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="text" value="T" checked=""><label class="form-check-label" for="text">Text</label> </div>
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="xml" value="X"><label class="form-check-label" for="xml">XML</label> </div>
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="json" value="J"><label class="form-check-label" for="json">JSON</label> </div>
                        </div>
                    </div>
                    <textarea class="form-control mt-2" asp-for="Input.RequestBody" id="requestbody" name="requestbody" placeholder="Send data to website via POST method, one per line. Eg.j_username=joe" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="field-group w-100" id="ResponseDiv" style="display: block;">
            <div class="form-group">
                <label>Response Data</label>
                <textarea class="form-control mt-2" asp-for="Input.ResponseBody" id="responsebody" name="responsebody" placeholder="Enter the URL and click Send to get a response" rows="5" readonly></textarea>
            </div>
        </div>

        @*<div class="multi-fields">
            <div class="field-group mr-0 active" id="custheader" style="display: block;">
                <div id="dummy" class="field-wrap dummy">
                    <div class="field-wrap flex-nowrap custom-header-field">
                        <div class="form-group mr-2"><input class="form-control" type="text" placeholder="Name" name="headername" required="" autocorrect="off" autocapitalize="none"></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="Value" name="headervalue" required="" autocorrect="off" autocapitalize="none"></div>
                        <div class=" btn-wrapper ml-2 btn-wrap-width">
                            <div class=" d-flex align-items-center justify-content-start">
                                <button type="button" class="btn rounded-0 ml-0 mr-0" onclick="addcustomheaders();">
                                    <span class="sr-only">Add Header</span>
                                    <i class="icon-add align-middle"></i>
                                </button>
                                <button type="button" class="line-btn ml-2 mr-0" onclick="removecustomheader(this);" style="display:block">
                                    <span class="sr-only">Remove Header</span>
                                    <i class="icon-delete align-middle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="inner-fields" class="field-wrap dummy d-flex"></div>
                </div>
            </div>
        </div>*@

    </form>

</div>

@section Scripts {
    <script>
        function onmethod() {
            var method = document.getElementById("method").value;
            if (method === "Post" || method === "Put" || method === "Patch") {
                document.getElementById("postDiv").style.display = "block";
            } else {
                document.getElementById("postDiv").style.display = "none";
            }
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}