@page
@model APIRequestModel
@{
    ViewData["ActivePage"] = ManageNavPages.APIRequestData;
}

<head>
    <link rel="stylesheet/scss" href="https://css-wc.site24x7static.com/site24x7/client/6167249/scss/_tools-common.scss">
    <style>
        .field-group {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-right: 10px;
            flex: 1 1 0px;
        }

        input[id^="urlbox"] {
            width: 500px !important;
        }

        .fill-btn {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
            background: #182737 !important;
            transition: all 0.3s ease;
            color: #fff;
            border: 1px solid transparent;
            display: inline-block;
        }
    </style>
</head>

<div class="row">

    <form name="restapiform" id="form" method="post" onsubmit="hideTestResponse()">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="link-tab1" data-toggle="tab" href="#tab1">Process Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab2" data-toggle="tab" href="#tab2">Source Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab3" data-toggle="tab" href="#tab3">Source Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab4" data-toggle="tab" href="#tab4">Destination Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab5" data-toggle="tab" href="#tab5">Destination Data</a>
                </li>
            </ul>
            <div class="tab-content">
                <br />
                <div id="tab1" class="tab-pane fade show active">
                    <h4>Process Settings</h4>
                    <hr />
                    <div class="multi-fields">
                        <div class="form-group">
                            <label for="lblProcessName">Process Name</label>
                            <input class="form-control" asp-for="Input.ProcessName" id="processName" name="processName" type="text" placeholder="Process Name" required="" autocorrect="off" autocapitalize="none">
                        </div>
                        <div class="form-group sm-field select-field mr-2">
                            <label for="processType">Process Type</label>
                            <select name="processType" asp-for="Input.ProcessType" id="processType" class="form-control" onchange="onChangeProcessType();">
                                <option value="1">API To API</option>
                                <option value="2">API To File</option>
                                <option value="3">File To API</option>
                            </select>
                        </div>
                        <div class="form-group sm-field select-field mr-2">
                            <label for="syncTimer">Sync Timer</label>
                            <select name="syncTimer" asp-for="Input.SyncTimer" id="syncTimer" class="form-control" onchange="onChangeSyncTimer();">
                                <option value="1">5 Minutes</option>
                                <option value="2">10 Minutes</option>
                                <option value="3">15 Minutes</option>
                                <option value="4">30 Minutes</option>
                                <option value="5">1 Hour</option>
                                <option value="6">Daily</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="btnNextTab2" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: right;" onclick="onNextSaveTab1()">Next</button>
                    </div>
                </div>

                <div id="tab2" class="tab-pane fade">
                    <h4>Source Login API</h4>
                    <hr />
                    <div class="multi-fields">
                        <div class="field-group">
                            <div class="form-group sm-field select-field mr-2">
                                <label for="method">Method</label>
                                <select name="method" asp-for="Input.MethodName" id="method" class="form-control" onchange="onmethod();">
                                    <option value="Get">GET</option>
                                    <option value="Post">POST</option>
                                    <option value="Put">PUT</option>
                                    <option value="Patch">PATCH</option>
                                    <option value="Delete">DELETE</option>
                                    <option value="Head">HEAD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="urlbox">Rest API Endpoint</label>
                                <input class="form-control" asp-for="Input.RequestUrl" id="urlbox" name="url" type="text" placeholder="Enter your Rest API/URL" required="" autocorrect="off" autocapitalize="none">
                            </div>
                            <div class="form-group">
                                <button id="testBtn" type="submit" class=" fill-btn " style="margin: 0 0 0 18px;" onclick="getAPIResponse('method','urlbox','requestbody','responsebody')">Test</button>
                            </div>
                        </div>

                        <div class="field-group w-100" id="postDiv" style="display: block;">
                            <div class="form-group">
                                <label>Post Data</label>
                                <!-- Type Selection -->
                                <div class="d-flex justify-content-between justify-content-sm-start align-items-center flex-wrap">
                                    <div id="bodyTypes" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light btn-sm"> <input type="radio" name="bodytype" id="form1" value="F">form-data</label>
                                        <label class="btn btn-light btn-sm ml-0 border-left active"> <input type="radio" name="bodytype" id="raw" value="R" checked="">raw</label>
                                    </div>
                                    <div id="rawContentTypes" class="ml-3">
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="text" value="T" checked=""><label class="form-check-label" for="text">Text</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="xml" value="X"><label class="form-check-label" for="xml">XML</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="json" value="J"><label class="form-check-label" for="json">JSON</label> </div>
                                    </div>
                                </div>
                                <textarea class="form-control mt-2" asp-for="Input.RequestBody" id="requestbody" name="requestbody" placeholder="Send data to website via POST method, one per line. Eg.j_username=joe" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="field-group w-100" id="ResponseDiv" style="display: block;">
                            <div class="form-group">
                                <label>Response Data</label>
                                <textarea class="form-control mt-2" asp-for="Input.ResponseBody" id="responsebody" name="responsebody" placeholder="Enter the URL and click Send to get a response" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="btnPreviousTab1" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: left;" onclick="onPreviousClick(2)">Previous</button>
                    </div>
                    <div class="form-group">
                        <button id="btnNextTab3" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: right;" onclick="onNextSaveTab2()">Next</button>
                    </div>
                </div>

                <div id="tab3" class="tab-pane fade">
                    <h4>Source Data API</h4>
                    <hr />
                    <div class="multi-fields">
                        <div class="field-group">
                            <div class="form-group sm-field select-field mr-2">
                                <label for="method">Method</label>
                                <select name="method3" id="method3" class="form-control" onchange="onmethod();">
                                    <option value="Get">GET</option>
                                    <option value="Post">POST</option>
                                    <option value="Put">PUT</option>
                                    <option value="Patch">PATCH</option>
                                    <option value="Delete">DELETE</option>
                                    <option value="Head">HEAD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="urlbox">Rest API Endpoint</label>
                                <input class="form-control" id="urlbox3" name="url3" type="text" placeholder="Enter your Rest API/URL" required="" autocorrect="off" autocapitalize="none">
                            </div>
                            <div class="form-group">
                                <button id="testBtn3" type="submit" class=" fill-btn " style="margin: 0 0 0 18px;" onclick="getAPIResponse('method3','urlbox3','requestbody3','responsebody3')">Test</button>
                            </div>
                        </div>

                        <div class="field-group w-100" id="postDiv3" style="display: block;">
                            <div class="form-group">
                                <label>Post Data</label>
                                <!-- Type Selection -->
                                <div class="d-flex justify-content-between justify-content-sm-start align-items-center flex-wrap">
                                    <div id="bodyTypes" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light btn-sm"> <input type="radio" name="bodytype" id="form1" value="F">form-data</label>
                                        <label class="btn btn-light btn-sm ml-0 border-left active"> <input type="radio" name="bodytype" id="raw" value="R" checked="">raw</label>
                                    </div>
                                    <div id="rawContentTypes" class="ml-3">
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="text" value="T" checked=""><label class="form-check-label" for="text">Text</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="xml" value="X"><label class="form-check-label" for="xml">XML</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="json" value="J"><label class="form-check-label" for="json">JSON</label> </div>
                                    </div>
                                </div>
                                <textarea class="form-control mt-2" id="requestbody3" name="requestbody3" placeholder="Send data to website via POST method, one per line. Eg.j_username=joe" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="field-group w-100" id="ResponseDiv" style="display: block;">
                            <div class="form-group">
                                <label>Response Data</label>
                                <textarea class="form-control mt-2" id="responsebody3" name="responsebody3" placeholder="Enter the URL and click Send to get a response" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="btnPreviousTab2" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: left;" onclick="onPreviousClick(3)">Previous</button>
                    </div>
                    <div class="form-group">
                        <button id="btnNextTab4" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: right;" onclick="onNextSaveTab3()">Next</button>
                    </div>
                </div>

                <div id="tab4" class="tab-pane fade">
                    <h4>Destination Login API</h4>
                    <hr />
                    <div class="multi-fields">
                        <div class="field-group">
                            <div class="form-group sm-field select-field mr-2">
                                <label for="method">Method</label>
                                <select name="method4" id="method4" class="form-control" onchange="onmethod();">
                                    <option value="Get">GET</option>
                                    <option value="Post">POST</option>
                                    <option value="Put">PUT</option>
                                    <option value="Patch">PATCH</option>
                                    <option value="Delete">DELETE</option>
                                    <option value="Head">HEAD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="urlbox">Rest API Endpoint</label>
                                <input class="form-control" id="urlbox4" name="url" type="text" placeholder="Enter your Rest API/URL" required="" autocorrect="off" autocapitalize="none">
                            </div>
                            <div class="form-group">
                                <button id="testBtn4" type="submit" class=" fill-btn " style="margin: 0 0 0 18px;" onclick="getAPIResponse('method4','urlbox4','requestbody4','responsebody4')">Test</button>
                            </div>
                        </div>

                        <div class="field-group w-100" id="postDiv" style="display: block;">
                            <div class="form-group">
                                <label>Post Data</label>
                                <!-- Type Selection -->
                                <div class="d-flex justify-content-between justify-content-sm-start align-items-center flex-wrap">
                                    <div id="bodyTypes" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light btn-sm"> <input type="radio" name="bodytype" id="form1" value="F">form-data</label>
                                        <label class="btn btn-light btn-sm ml-0 border-left active"> <input type="radio" name="bodytype" id="raw" value="R" checked="">raw</label>
                                    </div>
                                    <div id="rawContentTypes" class="ml-3">
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="text" value="T" checked=""><label class="form-check-label" for="text">Text</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="xml" value="X"><label class="form-check-label" for="xml">XML</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="json" value="J"><label class="form-check-label" for="json">JSON</label> </div>
                                    </div>
                                </div>
                                <textarea class="form-control mt-2" id="requestbody4" name="requestbody4" placeholder="Send data to website via POST method, one per line. Eg.j_username=joe" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="field-group w-100" id="ResponseDiv4" style="display: block;">
                            <div class="form-group">
                                <label>Response Data</label>
                                <textarea class="form-control mt-2" id="responsebody4" name="responsebody4" placeholder="Enter the URL and click Send to get a response" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="btnPreviousTab3" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: left;" onclick="onPreviousClick(4)">Previous</button>
                    </div>
                    <div class="form-group">
                        <button id="btnNextTab5" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: right;" onclick="onNextSaveTab4()">Next</button>
                    </div>
                </div>

                <div id="tab5" class="tab-pane fade">
                    <h4>Destination Data API</h4>
                    <hr />
                    <div class="multi-fields">
                        <div class="field-group">
                            <div class="form-group sm-field select-field mr-2">
                                <label for="method">Method</label>
                                <select name="method5" id="method5" class="form-control" onchange="onmethod();">
                                    <option value="Get">GET</option>
                                    <option value="Post">POST</option>
                                    <option value="Put">PUT</option>
                                    <option value="Patch">PATCH</option>
                                    <option value="Delete">DELETE</option>
                                    <option value="Head">HEAD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="urlbox">Rest API Endpoint</label>
                                <input class="form-control" id="urlbox5" name="url5" type="text" placeholder="Enter your Rest API/URL" required="" autocorrect="off" autocapitalize="none">
                            </div>
                            <div class="form-group">
                                <button id="testBtn5" type="submit" class=" fill-btn " style="margin: 0 0 0 18px;" onclick="getAPIResponse('method5','urlbox5','requestbody5','responsebody5')">Test</button>
                            </div>
                        </div>

                        <div class="field-group w-100" id="postDiv" style="display: block;">
                            <div class="form-group">
                                <label>Post Data</label>
                                <!-- Type Selection -->
                                <div class="d-flex justify-content-between justify-content-sm-start align-items-center flex-wrap">
                                    <div id="bodyTypes5" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light btn-sm"> <input type="radio" name="bodytype" id="form1" value="F">form-data</label>
                                        <label class="btn btn-light btn-sm ml-0 border-left active"> <input type="radio" name="bodytype" id="raw" value="R" checked="">raw</label>
                                    </div>
                                    <div id="rawContentTypes" class="ml-3">
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="text" value="T" checked=""><label class="form-check-label" for="text">Text</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="xml" value="X"><label class="form-check-label" for="xml">XML</label> </div>
                                        <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="bodytype" id="json" value="J"><label class="form-check-label" for="json">JSON</label> </div>
                                    </div>
                                </div>
                                <textarea class="form-control mt-2" id="requestbody5" name="requestbody5" placeholder="Send data to website via POST method, one per line. Eg.j_username=joe" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="field-group w-100" id="ResponseDiv5" style="display: block;">
                            <div class="form-group">
                                <label>Response Data</label>
                                <textarea class="form-control mt-2" id="responsebody5" name="responsebody5" placeholder="Enter the URL and click Send to get a response" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="multi-fields">
                        <div class="field-group mr-0 active" id="custheader" style="display: block;">
                            <div id="dummy" class="field-wrap dummy">
                                <div class="field-wrap flex-nowrap custom-header-field" style="display: flex;">
                                    <div class="form-group mr-2">
                                        <div class="form-group sm-field select-field mr-2">
                                            <label for="processType">Source Field</label>
                                            <select name="sourceField" asp-for="Input.sourceField" id="sourceField" class="form-control" style="width: auto;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="processType">Destination Field</label>
                                        <input class="form-control" type="text" placeholder="Value" name="destinationField" autocorrect="off" autocapitalize="none" style="width: auto;">
                                    </div>
                                    <div class=" btn-wrapper ml-2 btn-wrap-width">
                                        <div class=" d-flex align-items-center justify-content-start">
                                            <button type="button" id="btnAddTextbox" class="fill-btn" onclick="addcustomheaders();" style="margin: 32px 0 0 18px;">
                                                <span>+</span>
                                            </button>
                                            <button type="button" id="btnRemoveTextbox" class="fill-btn" onclick="removecustomheader(this);" style="margin: 32px 0 0 18px;">
                                                <span>-</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="btnPreviousTab4" type="button" class="fill-btn" style="margin: 0 0 0 0px;float: left;" onclick="onPreviousClick(5)">Previous</button>
                        <button id="btnSave" type="submit" class=" fill-btn" style="margin: 0 0 0 18px;float: right;" onclick="onNextSaveTab5()">Save Process</button>
                    </div>

                    @*<div class="multi-fields">
                    <div class="field-group mr-0 active" id="custheader" style="display: block;">
                    <div id="dummy" class="field-wrap dummy">
                    <div class="field-wrap flex-nowrap custom-header-field">
                    <div class="form-group mr-2"><input class="form-control" type="text" placeholder="Name" name="headername" required="" autocorrect="off" autocapitalize="none"></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Value" name="headervalue" required="" autocorrect="off" autocapitalize="none"></div>
                    <div class=" btn-wrapper ml-2 btn-wrap-width">
                    <div class=" d-flex align-items-center justify-content-start">
                    <button type="button" class="btn rounded-0 ml-0 mr-0" onclick="addcustomheaders();">
                    <span class="sr-only">Add Header</span>
                    <i class="icon-add align-middle"></i>
                    </button>
                    <button type="button" class="line-btn ml-2 mr-0" onclick="removecustomheader(this);" style="display:block">
                    <span class="sr-only">Remove Header</span>
                    <i class="icon-delete align-middle"></i>
                    </button>
                    </div>
                    </div>
                    </div>
                    <div id="inner-fields" class="field-wrap dummy d-flex"></div>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            if ($('#responsebody').val().length > 0) {
                var jsonObject = JSON.parse($('#responsebody').val());
                if (jsonObject != undefined && jsonObject != '' && jsonObject != null) {
                    var data = JSON.parse($('#responsebody').val())["data"];
                    if (data != undefined && data != '' && data != null) {
                        var dataRow = JSON.parse($('#responsebody').val())["data"][0];
                        if (dataRow != undefined && dataRow != '' && dataRow != null) {
                            var options = Object.keys(dataRow);
                            if (options != undefined && options != '' && options != null && options.length > 0) {
                                $.each(options, function (index, value) {
                                    $("#sourceField").append($("<option></option>").attr("value", value).text(value));
                                });
                            }
                        }
                    }
                }
            }

            $("#btnSave").click(function () {
                let processType = document.getElementById("processType").value;
                let processName = document.getElementById("processName").value;
                let syncTimer = document.getElementById("syncTimer").value;
                let requestMethodType = document.getElementById("method").value;
                let requestURL = document.getElementById("urlbox").value;
                let requestBody = document.getElementById("requestbody").value;
                let responseBody = document.getElementById("responsebody").value;

                var requestData = {
                    ProcessType: processType,
                    ProcessName: processName,
                    SyncTimer: syncTimer,
                    RequestMethodType: requestMethodType,
                    RequestURL: requestURL,
                    RequestBody: requestBody,
                    ResponseBody: responseBody
                }

                $.ajax({
                    type: "POST",
                    url: "/Identity/Account/Manage/APIRequest/OnPostCreateAsync",
                    data: JSON.stringify(requestData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        // handle the response from the server
                        alert("Success ! Saving process request succeed.");
                    },
                    error: function () {
                        alert("An error occurred while processing the request.");
                    }
                });
            });
        });

        function onmethod() {
            var method = document.getElementById("method").value;
            if (method === "Post" || method === "Put" || method === "Patch") {
                document.getElementById("postDiv").style.display = "block";
            } else {
                document.getElementById("postDiv").style.display = "none";
            }
        }

        function onNextSaveTab1() {
            let processType = document.getElementById("processType").value;
            let processName = document.getElementById("processName").value;
            let syncTimer = document.getElementById("syncTimer").value;

            var requestData = {
                ProcessType: processType,
                ProcessName: processName,
                SyncTimer: syncTimer
            }

            $.ajax({
                type: "POST",
                url: "?handler=CreateProcessSetting",
                data: JSON.stringify(requestData),
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    // handle the response from the server
                    alert("Success ! Saving process request succeed.");
                },
                error: function () {
                    //alert("An error occurred while processing the request.");
                }
            });

            onNextClick(1);
        }

        function onNextSaveTab2() {
            let requestMethodType = document.getElementById("method").value;
            let requestURL = document.getElementById("urlbox").value;
            let requestBody = document.getElementById("requestbody").value;
            let responseBody = document.getElementById("responsebody").value;

            var requestData = {
                RequestMethodType: requestMethodType,
                RequestURL: requestURL,
                RequestBody: requestBody,
                ResponseBody: responseBody
            }

            $.ajax({
                type: "POST",
                url: "?handler=CreateSourceLoginAPI",
                data: JSON.stringify(requestData),
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    // handle the response from the server
                    alert("Success ! Saving process request succeed.");
                },
                error: function () {
                    //alert("An error occurred while processing the request.");
                }
            });

            onNextClick(2);
        }

        function onNextSaveTab3() {
            let requestMethodType = document.getElementById("method3").value;
            let requestURL = document.getElementById("urlbox3").value;
            let requestBody = document.getElementById("requestbody3").value;
            let responseBody = document.getElementById("responsebody3").value;

            var requestData = {
                RequestMethodType: requestMethodType,
                RequestURL: requestURL,
                RequestBody: requestBody,
                ResponseBody: responseBody
            }

            $.ajax({
                type: "POST",
                url: "?handler=CreateSourceDataAPI",
                data: JSON.stringify(requestData),
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    // handle the response from the server
                    alert("Success ! Saving process request succeed.");
                },
                error: function () {
                    //alert("An error occurred while processing the request.");
                }
            });

            onNextClick(3);
        }

        function onNextSaveTab4() {
            let requestMethodType = document.getElementById("method4").value;
            let requestURL = document.getElementById("urlbox4").value;
            let requestBody = document.getElementById("requestbody4").value;
            let responseBody = document.getElementById("responsebody4").value;

            var requestData = {
                RequestMethodType: requestMethodType,
                RequestURL: requestURL,
                RequestBody: requestBody,
                ResponseBody: responseBody
            }

            $.ajax({
                type: "POST",
                url: "?handler=CreateDestinationLoginAPI",
                data: JSON.stringify(requestData),
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    // handle the response from the server
                    alert("Success ! Saving process request succeed.");
                },
                error: function () {
                    //alert("An error occurred while processing the request.");
                }
            });

            onNextClick(4);
        }

        function onNextSaveTab5() {
            let requestMethodType = document.getElementById("method5").value;
            let requestURL = document.getElementById("urlbox5").value;
            let requestBody = document.getElementById("requestbody5").value;
            let responseBody = document.getElementById("responsebody5").value;
            let sourceField = document.getElementById("sourceField").value;
            let destinationField = document.getElementById("destinationField").value;

            var requestData = {
                RequestMethodType: requestMethodType,
                RequestURL: requestURL,
                RequestBody: requestBody,
                ResponseBody: responseBody
            }

            $.ajax({
                type: "POST",
                url: "?handler=CreateDestinationDataAPI",
                data: JSON.stringify(requestData),
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    // handle the response from the server
                    alert("Success ! Saving process request succeed.");
                },
                error: function () {
                    //alert("An error occurred while processing the request.");
                }
            });

            onNextClick(4);
        }

        function onNextClick(tabNumber) {
            if (tabNumber > 4)
                return false;

            const currentTabId = "#tab" + tabNumber;
            const currentTabLinkId = "#link-tab" + tabNumber;
            $(currentTabId).removeClass("show active");
            $(currentTabLinkId).removeClass("active");

            const nextTabId = "#tab" + parseInt(tabNumber + 1);
            const nextTabLinkId = "#link-tab" + parseInt(tabNumber + 1);
            $(nextTabId).addClass("show active");
            $(nextTabLinkId).addClass("active");
        }

        function onPreviousClick(tabNumber) {
            if (tabNumber <= 1)
                return false;

            const currentTabId = "#tab" + tabNumber;
            const currentTabLinkId = "#link-tab" + tabNumber;
            $(currentTabId).removeClass("show active");
            $(currentTabLinkId).removeClass("active");

            const nextTabId = "#tab" + parseInt(tabNumber - 1);
            const nextTabLinkId = "#link-tab" + parseInt(tabNumber - 1);
            $(nextTabId).addClass("show active");
            $(nextTabLinkId).addClass("active");
        }

        function getAPIResponse(methodId, urlboxId, requestbodyId, responsebodyId) {
            debugger;
            const requestMethodType = document.getElementById(methodId).value;
            const requestURL = document.getElementById(urlboxId).value;
            const requestBody = document.getElementById(requestbodyId).value;

            if (requestMethodType.toUpperCase() === "GET") {
                $.ajax({
                    url: requestURL,
                    method: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        document.getElementById(responsebodyId).value = JSON.stringify(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error: " + textStatus + " - " + errorThrown);
                    }
                });
            }
            else {
                $.ajax({
                    url: requestURL,
                    method: "POST",
                    data: JSON.stringify(requestBody),
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        document.getElementById(responsebodyId).value = JSON.stringify(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error: " + textStatus + " - " + errorThrown);
                    }
                });

            }
        }

    </script>
    <partial name="_ValidationScriptsPartial" />
}